* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 142, 186) 0%,
    rgb(0, 115, 153) 90%
  );
  width: 100%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background: #fff;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.863);
  transition: 0.35s;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 14px 35px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(72, 72, 72);
  
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
  }
  nav ul li::after {
    content: "";
    background: #00424c;
    width: 100% !important;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.6s, opacity 0.6s;
  }
  
  nav ul li:hover {
    color: #fff;
  }
  
  nav ul li:hover::after {
    top: 50%;
    opacity: 1;
  }
  .check{
    background-color: aquamarine;
    height: 15em;
    width: 100%;
  }