<p class="category-heading">Category</p>
<section class="slider">
  <div class="card" *ngFor="let category of categories">
      <div class="imgbox" >
        <a (click)="goToProducts(category.categoryId)">
          <img src="{{category.categoryImage}}" class="card-img">
        </a>
      </div>
      <div class="contentbox">
        <h4 class="card-title">{{category.categoryName}}</h4>
      </div>
  </div>
  </section>













<!-- 
<section class="slider">
   <div class="card" *ngFor="let category of categories" >
      <a (click)="goToProducts(category.categoryId)">
        <img src="{{category.categoryImage}}" class="card-img">
      </a>
      
      <div class="card-footer">
        <h4 class="card-title">{{category.categoryName}}</h4>
      </div>
     </div>
</section> -->
