<p class="order-heading">Orders</p>
<section class="slider">
<div class="card" *ngFor="let order of orders">
    <div class="imgbox" >
        <img src="{{order.productImage}}" alt="network - error" >
    </div>
    <div class="contentbox">
        <h4>{{order.productName}}</h4>
        <h5>{{order.productPrice}}</h5>
        <button class="btn btn-danger " (click)="cancelOrder(order.productId)">Cancel order</button>
    </div>
</div>
</section>





















<!-- <h1>Orders</h1>
<div *ngFor="let order of orders">
    <h4>{{order.productName}}</h4>
    <img src="{{order.productImage}}" alt="network - error">
    <h4>{{order.productPrice}}</h4>
    <button class="btn btn-danger" (click)="cancelOrder(order.productId)">Cancel order</button>
</div> -->
