* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  place-items: center;
}

.slider {
  /* background-color:#0e1523; */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 2rem;
  font: normal 1rem sans-serif;
}

.card {
  position: relative;
  width: 320px;
  height: 420px;
  background: #122936;
  border-radius: 20px;
  overflow: hidden;
}
.card::before {
  position: absolute;
  content: "";
  background-color: #2196f3;
  /* border-radius: 50%; */
  transition: 0.5s ease-in-out;
  /* z-index: 100; */
  top: -50%;
  width: 100%;
  height: 100%;
  transform: skewY(345deg);
}

.card:hover::before {
  transform: skewY(390deg);
  top: -70%;
}

.card::after {
  position: absolute;
  content: "";
  color: rgba(0, 0, 0, 0.1);
  bottom: 0%;
  left: 0%;
}

.card .imgbox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .imgbox img {
  width: 70%;
  transition: 0.5s;
}

.card:hover .imgbox img {
  width: 50%;
}

.card .contentbox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.card .contentbox h4 {
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentbox h5 {
  font-size: 18px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}
.card .contentbox .btn {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  background: #2196f3;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentbox .btn {
  top: -20%;
  opacity: 1;
}

h1 {
  color: white;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
img {
  width: 25%;
  height: 15em;
}
h1,
h3,
h4 {
  text-align: center;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}
button {
  margin-left: 48%;
  font-size: 12px;
  width: 125px;
}
.order-heading {
  font-size: 4em;
  margin-top: 0.8em;
  text-align: center;
  margin-bottom: 65px;
  color: rgb(0, 142, 186);
}
.error-message-place {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 142, 186) 0%,
    rgb(0, 115, 153) 90%
  );
  height: 3.8em;
  width: 30em;
  padding-top: 0.2%;
  padding-right: 2.5%;
  margin-left: 70%;
  border-radius: 1.5em;
  margin-top: -15px;
}
.error-message {
  margin-left: 8%;
  margin-top: 3%;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: black;
}
