<div class="wrapper">
  <p class="cart-heading">Cart</p>
  <div class="project">
    <div class="shop">
      <div class="box" *ngFor="let cartItem of cart">
        <img src="{{ cartItem.productImage }}" alt="network error" />
        <div class="content">
          <h3>{{ cartItem.productName }}</h3>
          <h3>{{ cartItem.productPrice }}</h3>
          <p class="btn">
            <button
              class="btn2 btn-danger"
              (click)="removeFromCart(cartItem.productId)"
            >
              Remove
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cartMessageShow">
    <div class="error-message-place">
      <p class="error-message">Cart Empty</p>
    </div>
  </div>
  <div *ngIf="!cartMessageShow">
    <div class="right-bar">
      <h4 class="total">Total - price</h4>
      <hr />
      <h6 class="price">{{ price }}</h6>
      <hr />
      <div class="but">
        <button class="btn3 btn-secondary" (click)="book()">Buy Now</button>
      </div>
    </div>
  </div>
</div>

<!-- <h1>cart</h1>
<div>
  <div *ngFor="let cartItem of cart">
    <img src="{{ cartItem.productImage }}" alt="network error" />
    <h4>{{ cartItem.productName }}</h4>
    <h3>{{ cartItem.productPrice }}</h3>
    <button class="btn btn-danger" (click)="removeFromCart(cartItem.productId)">Remove</button>
  </div>
  <button class="btn btn-secondary" (click)="book()">Buy Now</button>
  <div class="price">
    <h4>Total - price</h4>
    <h6>{{ price }}</h6>
  </div>
</div> -->
