<div class="wrapper">
  <h1>Super Cart</h1>
  <div class="project">
    <div class="shop">
      <div class="box" *ngFor="let items of superCart">
        <img src="{{ items.productImage }}" alt="network error" />
        <div class="content">
          <h4>{{ items.productName }}</h4>
          <h1>
            Actual Price
            <h3>{{ items.productPrice }}</h3>
          </h1>
          <h1>
            Waiting at
            <h3>{{ items.productBookedPrice }}</h3>
          </h1>
          <p class="btn">
            <button class="btn btn-danger" (click)="removeSuperCart(items.productId)">cancel</button>
          </p>
        </div>
      </div>
    </div>
    </div>
    </div>















<!-- <h1>Super Cart</h1>
<div>
  <div *ngFor="let items of superCart">
    <img src="{{ items.productImage }}" alt="network error" />
    <h4>{{ items.productName }}</h4>
    <h1>
      Actual Price
      <h3>{{ items.productPrice }}</h3>
    </h1>
    <h1>
      Waiting at
      <h3>{{ items.productBookedPrice }}</h3>
    </h1>
    <button class="btn btn-danger" (click)="removeSuperCart(items.productId)">cancel</button>
  </div>
</div> -->
