* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper h1 {
  /* padding: 30px 0; */
  text-align: center;
  text-transform: uppercase;
  color: blue;
}
hr {
  color: blue;
  font-size: 100px;
}

.project {
  display: flex;
}

.shop {
  flex: 75%;
  margin-left: 10%;
}

.box {
  display: flex;
  width: 80%;
  height: 350px;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 20px;
  background: white;
  transition: all 0.6s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  margin-bottom: 5%;
  border-radius: 20px;
}

.box:hover {
  transform: scale(1.02);
  /* color:blue; */
}

.box img {
  width: 300px;
  height: 250px;
  /* object-fit: cover; */
}

.content {
  padding: 20px;
  position: relative;
  width: 100%;
}

.content h3 {
  margin-bottom: 30px;
}

.content h4 {
  margin-bottom: 50px;
  color: blue;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
}

/* .btn-secondary,.btn-danger {
    background-color:  #00dd53;
} */

.btn {
  margin-right: 1em;
  margin-left: 4.5em;
}
img {
  width: 25%;
  height: 15em;
}
h1,
h3,
h4 {
  text-align: center;
}
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}
/* button{
    margin-left: 48% ;
} */

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: aliceblue;
}
.error-message {
  margin-left: 8%;
  margin-top: 3%;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: black;
}
.error-message-place {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 142, 186) 0%,
    rgb(0, 115, 153) 90%
  );
  height: 4em;
  width: 50%;
  padding-top: 0.2%;
  padding-right: 2.5%;
  margin-left: 25%;
  margin-top: 4%;
  border-radius: 1.5em;
}
.super-cart-heading{
  font-size: 4em;
  margin-top: 0.8em;
  text-align: center;
  margin-bottom: 65px;
  color: rgb(0, 142, 186);
}
