
<section class="slider">
  <div class="card">
      <div class="card-content">
          <img src="{{ products.productImage }}" alt="network error" class="card-img"/>
          <h1 class="card-title">{{products.productName}}</h1>
          <div class="card-body">
                  <h3 class="card-price">{{ products.productPrice }}</h3>
          </div>
          <div class="card-footer">
          <div *ngIf="showAddTocart; else removeFromcart">
            <button class="btn btn-success" (click)="addToCart(products.productId)">Add To Cart</button>
          </div>
          <ng-template #removeFromcart>
            <button class="btn btn-danger" (click)="removeFromCart(products.productId)">
              Remove From Cart
            </button>
          </ng-template>
          </div>
     </div>
  </div>
  <div class="right-bar">
    <button class="btn2 btn-info" (click)="goToCart()">Check Cart</button>
    <hr>
    <div class="inp" *ngIf="showAddToSuperCart; else removeFromSuperCart">
      <form (submit)="addToSuperCart(products.productId)">
        <p class="price-ask">At what price you wish to buy this item?</p>
     
        <input type="number" [(ngModel)]="superCartValue" name="supercart" class="enter"/>
        <button class="btn btn-dark" type="submit">Add To Super Cart</button>
      
      </form>
    </div>
    <ng-template #removeFromSuperCart>
      <button class="btn3 btn-danger" (click)="removeSuperCart(products.productId)">
        Remove From Super Cart
      </button>
    </ng-template>
  </div>
        <!-- <div class="but">
          <div class="inp">
            <button class="btn btn-info" (click)="goToCart()">Check Cart</button>
          </div>
        <div class="inp" *ngIf="showAddToSuperCart; else removeFromSuperCart">
          <form (submit)="addToSuperCart(products.productId)">
            <h4>At what price you wish to buy this item?</h4>
          
            <input type="number" [(ngModel)]="superCartValue" name="supercart" />
            <button class="btn btn-dark" type="submit">Add To Super Cart</button>
          </form>
        </div>
        <ng-template #removeFromSuperCart>
          <button class="btn btn-danger" (click)="removeSuperCart(products.productId)">
            Remove From Super Cart
          </button>
        </ng-template>
        </div> -->
</section>










<!-- <div class="preview-product">
  <img src="{{ products.productImage }}" alt="network error" />
  <h1>{{ products.productName }}</h1>
  <h3>{{ products.productPrice }}</h3>
  <div *ngIf="showAddTocart; else removeFromcart">
    <button class="btn btn-success" (click)="addToCart(products.productId)">Add To Cart</button>
  </div>
  <ng-template #removeFromcart>
    <button class="btn btn-danger" (click)="removeFromCart(products.productId)">
      Remove From Cart
    </button>
  </ng-template>
  <button class="btn btn-info" (click)="goToCart()">Check Cart</button>
  <div *ngIf="showAddToSuperCart; else removeFromSuperCart">
    <form (submit)="addToSuperCart(products.productId)">
      <input type="number" [(ngModel)]="superCartValue" name="supercart" />
      <button class="btn btn-dark" type="submit">Add To Super Cart</button>
    </form>
  </div>
  <ng-template #removeFromSuperCart>
    <button class="btn btn-danger" (click)="removeSuperCart(products.productId)">
      Remove From Super Cart
    </button>
  </ng-template>
</div> -->




