
:root {
    --primary: #18253c;
    /* --primary: #fff; */
    --secondary: #00dd53;
    --bg: #0e1523;
    /* --bg: #f5f5f5; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    place-items:center;
}

.slider {
    /* background-color:#0e1523; */
    padding: 1rem;

    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    place-items: center;
    grid-gap: 2rem;

    font: normal 1rem sans-serif;
}

.card {
    position:relative;
    width: 22rem;
    height: 30rem;
    background-color:#18253c;
    color: #fff;
    border-radius: 1rem;
    border: .1rem solid transparent;
    overflow: hidden;
    box-shadow: 0 .2rem .6rem #0003;
    transition: .5s ease-in-out;
}

.card:hover {
    border: .1rem solid #00dd53;
    transform: scale(1.05);
}

.card::before, .card::after {
    position: absolute;
    content: "";
    background-color: #00dd53;
    border-radius: 50%;
    transition: .5s ease-in-out;
    z-index: 100;
}

.card::before {
    top: -6%;
    right: -6%;
    width: 7rem;
    height: 7rem;
}

.card::after {
    bottom: -6%;
    left: -6%;
    width: 5rem;
    height: 5rem;
}

.card:hover::before {
    transform: scale(1.8);
}

.card:hover::after {
    transform: scale(0);
}

.card-content {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
}

.card-img, 
.card-title {
    transform: translateY(4rem);
    transition: .5s ease-in-out;
}

.card-img {
    width: auto;
    height: 20rem;
}

.card-title {
    font-size: 1rem;
    text-transform: capitalize;
    transition-delay: .1s;
}


.card-body, 
.card-footer {
    transform: translateY(8rem);
    transition: .5s ease-in-out;
}

.card-body {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition-delay: .2s;
}

.card:hover .card-img,
.card:hover .card-title,
.card:hover .card-body,
.card:hover .card-footer {
    transform: translateY(0);
}

.card-footer {
    transition-delay: .3s;
    height: 20%;
    place-items: center;
    place-content: center;
}

.card-price {
    font: bolder 1.5rem sans-serif;
}

h3{
    color:#00dd53;
}

.btn {
    padding: 1rem 2rem;
    background-color: unset;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
}

.btn-success  {
    background-color:  #00dd53;
}

.btn-danger {
    border: .1rem solid red;
    background-color: red;
}

.btn-info, .btn-dark{
background-color: blue;

padding: 1rem;
align-items: center;
}

.inp{
    display: inline-block;
    position: relative;
    width: 80%;
    padding: 20px;
}

.but{
    border: 3px solid black;
    padding: 20px;
    place-content: center;
}

h4{
    color: white;
    align-items: center;
}

.btn-dark{
    width:80%;
}

.right-bar{
    flex: 25%;
    margin-left: 30px;
    padding:20px;
    height: auto;
    width: 60%;
    border-radius: 5px;
    background: #18253c;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.right-bar hr{
    margin-bottom: 25px;
    color: #00dd53;
}

.right-bar h6,h4{
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
}

img{
    width: 25%;
    height: 15em
}
h1, h3, h4{
    text-align: center;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}
button{
    margin-left: 48%;
}