/* .card-img{
    margin-left: 18em;
    width: 50%;
    height: 28em;
    cursor: pointer;
} */
h3{
    color: rgb(241, 250, 246);
    font-size: 1.2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
  }
  .mmm{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -12%;
  }
  .slide-container{
    max-width: 1120px;
    width: 70%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: blue;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: blue;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    /* background-color: #FFF; */
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    /* border-radius: 50%; */
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 4px solid #4070F4;
  }
  /* .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  } */
  /* .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  } */
  
 .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
   
   /* *************************************** */


  .container-fluid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 1rem;
    grid-gap: 2rem;
    margin-left: 10%;

  }
  .txt{
    margin-top: -10%;
    text-align: center;
    color: #FFF;
    font-size: 2rem;
  }
  h1{
    font-size: 2.5rem;
    text-align: center;
  }

  .card-imgs{
    width:60%;
    height:80%;
    margin-left: 20%;
  }

  .cardcont {
    position:relative;
    width: 60%;
    height: 90%;
    background-color:#071d49;
    color: #fff;
    border-radius: 0.5rem;
    border: .1rem solid transparent;
    overflow: hidden;
    box-shadow: 0 .2rem .6rem #0003;
    transition: .5s ease-in-out;
    
}

