<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of smartPhone">
      <div class="wrapper" (click)="preview(image.productId)">
        <img [src]="image.productImage" alt="Random first slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>{{ image.productName }}</h3>
      </div> -->
    </ng-template>
  </ngb-carousel>

  <div>
    <h1>
      Trending Products
    </h1>
    <div *ngFor="let product of trendyProducts" >
    <a (click)="preview(product.productId)">
      <img src="{{ product.productImage }}" alt="network error" class="card-img"/>
    </a>
    <h4>{{ product.productName }}</h4>
    </div>
  </div>